      <!DOCTYPE html>
      <html lang="en" dir="ltr">
          <link rel="stylesheet" href="css/stylee.css">

      <head>
          <meta charset="utf-8">
      <title>Movie App</title>
      </head>

      <body>
      <div class="wrapper">

      <div class="one">
          <p class="logo" ><a href='/'  >MOVIE</a></p>

      <div class="search-container">
          <form action="/movie" method='post'>

            <input type="text" placeholder="Search..." name="movie">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
      </div>
</div>


            <p>There was an error with Search. Nothing to Search......</p>





      </div>

      </body>

      </html>