<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="css/stylee.css">

<head>
    <meta charset="utf-8">
<title>Food App</title>
</head>

<body>
<form method="post" action="/">

<input type="text" name="calorie" id="cityInput">
    <button type="submit">search</button>
</form>

</body>

</html>