<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="css/stylee.css">

<head>
    <meta charset="utf-8">
<title>movie App</title>
</head>

<body><div class="wrapper">


<%   for(var i=0; i<mealsitem.length;i++) {
%>
<div class="one">
<h1><%=mealsitem[i].title%></h1>
</div><%}%>
</div>

</body>

</html>